@import url(https://fonts.googleapis.com/css?family=Pacifico);

body {
  font-family: "Verdana";
  margin: 0;
  background-color: rgb(230,230,230);
}

.header-title {
  margin: 10px 0px 20px 4px;
  font-size: 18px;
}

.nav-header {
  position: fixed;
  width: 100%;
  height: 50px;
  line-height: 22px;
  color: white;

  background: #6F6F6F; /* Old browsers */
  background: -moz-linear-gradient(top, #6F6F6F 0%, #111111 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #6F6F6F 0% ,#111111 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #6F6F6F 0% ,#111111 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6F6F6F', endColorstr='#111111',GradientType=0 ); /* IE6-9 */

  .logo-title {
    padding: 14px;
    font-family: 'Pacifico';
    font-size: 22px;
    cursor: pointer;
    display: inline-block;

    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
  }

  .nav-fridge {
    float: right;
    cursor: pointer;
    display: inline-block;
    position: relative;

    .icon-wrapper {
      padding: 11px;
      background-color: #6F6F6F;
      position: relative;

      .fridge-icon {
        width: 17px;
        height: 28px;
        background-image: url('../fridge.svg');
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: 0;
        display: block;
      }

      .num-icon {
        position: absolute;
        left: 3px;
        top: 3px;
        font-size: 10px;
        background: #FF5555;
        padding: 3px;
        border-radius: 20px;
        line-height: 10px;
        min-width: 10px;
        text-align: center;
      }

      &:hover {
        .fridge-icon {
          background-image: url('../fridge-hover.svg');
        }
      }
    }

    .fridge-contents-list {
      position: absolute;
      top: 50px;
      right: 0;
      width: 300px;
      background-color: #6F6F6F;
      color: #FFFFFF;
      font-size: 14px;
      padding: 14px;
    }

    &.collapsed {
      .icon-wrapper { background-color: transparent; }
      .fridge-contents-list { display: none; }
    }
  }
}

#main-stage {
  padding: 14px;
  padding-top: 64px;
}

#grid-pick-ingredients {
  font-size: 0;
}

.item-ingredient {
  display: inline-block;
  font-size: 12px;
  margin: 6px 2px;
  cursor: pointer;
  border: solid 4px transparent;

  &.selected {
    border: solid 4px #FF5555;
  }

  .thumbnail {
    background-color: rgb(210, 210, 210);
    width: 150px;
    height: 150px;
  }

  .label {
    background-color: white;
    height: 40px;
    padding: 10px;
  }
}