@import url(https://fonts.googleapis.com/css?family=Pacifico);

$theme-color-red: #ff5555;
$theme-color-light-grey: #6f6f6f;
$theme-color-dark-grey: #111111;
$theme-color-background: #e6e6e6;

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
      background-color: rgb(200, 200, 200);
}
::-webkit-scrollbar-thumb {
      background-color: rgba(0, 0, 0, 0.2);
}
::-webkit-scrollbar-corner {
      background-color: black;
}

/******************************
  NAVIGATION BAR
*******************************/
$navbar-height: 50px;

.nav-header {
  position: fixed;
  width: 100%;
  height: $navbar-height;
  color: white;

  background: $theme-color-light-grey; /* Old browsers */
  background: -moz-linear-gradient(top, $theme-color-light-grey 0%, $theme-color-dark-grey 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, $theme-color-light-grey 0% ,$theme-color-dark-grey 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, $theme-color-light-grey 0% ,$theme-color-dark-grey 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$theme-color-light-grey', endColorstr='$theme-color-dark-grey',GradientType=0 ); /* IE6-9 */

  .logo-title {
    padding: 14px;
    font-family: 'Pacifico';
    font-size: 22px;
    line-height: 22px;
    cursor: pointer;
    display: inline-block;

    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
  }

  .nav-fridge {
    float: right;
    display: inline-block;
    position: relative;

    .icon-wrapper {
      padding: 11px;
      background-color: $theme-color-dark-grey;
      position: relative;
      cursor: pointer;

      .fridge-icon {
        width: 18px;
        height: 28px;
        background-image: url('../fridge.svg');
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: 0;
        display: block;
      }

      .num-icon {
        position: absolute;
        left: 3px;
        top: 3px;
        font-size: 10px;
        background: $theme-color-red;
        padding: 3px;
        border-radius: 20px;
        line-height: 10px;
        min-width: 10px;
        text-align: center;
      }

      &:hover {
        .fridge-icon {
          background-image: url('../fridge-hover.svg');
        }
      }
    }

    .fridge-contents-list {
      position: absolute;
      top: $navbar-height;
      right: 0;
      width: 200px;
      background-color: $theme-color-dark-grey;
      color: #FFFFFF;
      font-size: 12px;
      line-height: 22px;

      .contents-wrapper {
        max-height: 220px;
        overflow-y: auto;

        .item-fridge-list {
          margin: 4px;
          padding: 2px 4px;
          height: 22px;

          .ingredient-name {
            width: calc(100% - 12px); /* 12px is the width of the xbtn */
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            display: inline-block;
          }

          .xbtn {
            display: none;
          }

          &:hover {
            background-color: rgba(255, 255, 255, 0.1);

            .xbtn {
              display: block;
              background-image: url('../xbtn.svg');
              width: 12px;
              height: 12px;
              float: right;
              margin: 5px 0;
              cursor: pointer;

              &:hover {
                background-image: url('../xbtn-hover.svg');
              }
            }
          }
        }
      }

      .empty-text {
        font-style: italic;
        text-align: center;
        padding: 14px;
      }

      .clear-all-btn {
        text-align: center;
        padding: 2px;
        background-color: $theme-color-red;
        margin: 4px;
        margin-top: 0;
        font-size: 11px;
        cursor: pointer;

        &:hover {
          background-color: #FF6666;
        }
      }
    }

    &.collapsed {
      .icon-wrapper { background-color: transparent; }
      .fridge-contents-list { display: none; }
    }
  }
}

.find-recipes-btn {
  float: right;
  height: 22px;
  line-height: 22px;
  font-size: 12px;
  cursor: pointer;
  margin: 6px;
  padding: 8px 14px;
  background-image: linear-gradient(to bottom, #ff5555 0%, #991111 100%);
  border-radius: 20px;  

  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;

  .recipe-icon {
    background-image: url('../recipebox.svg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 0;
    width: 25px;
    height: 20px;
    display: inline-block;
    vertical-align: top;
    padding: 1px 0;
  }

  .recipe-btn-text {
    display: inline-block;
    font-size: 10px;
    line-height: 11px;
    max-width: 50px;
  }

  &:hover {
    .recipe-icon { background-image: url('../recipebox-hover.svg'); }
    .recipe-btn-text { color: rgb(225, 225, 225); }
  }

  &:active {
    background-image: none;
    background-color: #771111;
  }
}


/******************************
  MAIN STAGE
*******************************/
body {
  font-family: "Verdana";
  margin: 0;
  background-color: $theme-color-background;
}

.header-title {
  margin: 10px 0px 20px 4px;
  font-size: 18px;
}

#main-stage {
  padding: 14px;
  padding-top: $navbar-height + 14px;
}


/******************************
  PICK INGREDIENTS PAGE
*******************************/
#grid-pick-ingredients {
  font-size: 0; /* this gets rid of extra spacing from display: inline-block in the grid */
}

.item-ingredient {
  display: inline-block;
  font-size: 12px;
  margin: 6px 2px;
  cursor: pointer;
  border: solid 4px transparent;

  &.selected {
    border: solid 4px $theme-color-red;
  }

  .thumbnail {
    background-color: rgb(210, 210, 210);
    width: 150px;
    height: 150px;
  }

  .label {
    background-color: white;
    height: 40px;
    padding: 10px;
  }
}